
<div *ngIf="cart">
    <h2><span jhiTranslate="serveaseApp.cart.detail.title">Cart</span> {{cart.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="serveaseApp.cart.customerId">Customer Id</span></dt>
        <dd>
            <span>{{cart.customerId}}</span>
        </dd>
        <dt><span jhiTranslate="serveaseApp.cart.productId">Product Id</span></dt>
        <dd>
            <span>{{cart.productId}}</span>
        </dd>
        <dt><span jhiTranslate="serveaseApp.cart.productName">Product Name</span></dt>
        <dd>
            <span>{{cart.productName}}</span>
        </dd>
        <dt><span jhiTranslate="serveaseApp.cart.productPrice">Product Price</span></dt>
        <dd>
            <span>{{cart.productPrice}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cart-my-suffix/'+ cart.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
